$lk-primary: #0A66C2;
$lk-secondary: #FFFFFF;
$lk-tertiary: #404040;
$lk-body-bg: #F4F2EE;

$primary: $lk-primary;
$secondary: $lk-secondary;
$tertiary: $lk-tertiary;
$body-bg: $lk-body-bg;

$theme-colors: (
    "lk-primary": $lk-primary,
    "lk-secondary": $lk-secondary,
    "lk-tertiary": $lk-tertiary,
    "lk-background": $lk-body-bg,
    "lk-light": #f8f9fa,
    "lk-dark": #212529
);