.cover-img {
  height: 240px;

  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-img-wrapper {
  top: 160px;
  left: 25px;
  margin-bottom: 0;
}

.profile-img {
  width: 130px;
  height: 130px;
}

.disponibile:hover {
  background-color: rgb(53, 53, 148) !important;
}

.otherButton:hover {
  background-color: rgba(125, 150, 154, 0.286) !important;
  border: 2px solid rgb(0, 0, 120) !important;
}

.risorse:hover {
  color: black !important;
  background-color: rgba(211, 211, 211, 0.286) !important;
  border: 2px solid black !important;
}

.Pen:hover {
  background-color: rgb(232, 240, 240) !important;
}

a.epicode:hover {
  color: #007bff !important;
  text-decoration: underline !important;
}
